<%= form_for @message do |f| %>
  <%= render "shared/error_messages", :target => @message %>

  <div class="field">
    <%= "Title " + mark_required(@message, :title) %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :date %>
    <%= f.text_field :mdate %>
  </div>
  <div class="field">
    <%= f.label :speaker %>
    <%= f.text_field :speaker_name %>
  </div>
  <div class="field">
    <%= f.label :summary %>
    <%= f.text_area :summary, :cols => 100, :rows => 20 %>
  </div>
  <div class="field">
    <%= f.label :link %>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :listened_on %>
    <%= f.text_field :listened_on %>
  </div>
  <div clas="ui-widget">
    <%= f.label :verses %>
    <%= f.text_field :verse_refs %>
  </div>
  <div clas="ui-widget">
    <%= f.label :category_names %>
    <%= f.text_field :category_names %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
