<%= form_for @message do |f| %>
  <%= render "shared/error_messages", :target => @message %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, required: 'required' %>
  </div>
  <div class="field">
    <%= f.label :speaker %>
    <%= f.text_field :speaker_name %>
  </div>
  <div class="field">
    <%= f.label :link %>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :listened_on %>
    <%= f.text_field :listened_on %>
  </div>
  <div class="field">
    <%= f.label :category_names %>
    <%= f.text_field :category_names, class: "ui-widget" %>
  </div>
  <div class="field">
    <%= f.label :summary %>
    <%= f.text_area :summary, rows: 6, class: 'span5' %>
  </div>
  <div class="action">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
