<%= form_for @message, :html => {:id => "message_form"} do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :class => "required" %>
  </div>
  <div class="field">
    <%= f.label :mdate %><br />
    <%= f.text_field :mdate, :class => "required" %>
  </div>
  <div class="field">
    <%= f.label :speaker %><br />
    <%= f.text_field :speaker_name, :class => "required" %>
  </div>
  <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_area :summary %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div clas="ui-widget">
    <%= f.label :verses %><br />
    <%= f.text_field :verse_refs %>
  </div>
  <div clas="ui-widget">
    <%= f.label :category_names %><br />
    <%= f.text_field :category_names %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
