<div class="span8">
<%= render 'stat_filter' %>

<div class="messages">
<% if @messages.present? %>
  <table class="table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Speaker</th>
      <th>Listen On</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
<% @messages.each do |message| %>
  <tr>
    <td><%= link_to message.title, message_path(message) %></td>
    <td><%= message.speaker_name %></td>
    <td><%= message.listened_on %></td>
    <td><%= link_to 'edit', edit_message_path(message), :class => "ui-icon ui-icon-pencil", :title => "edit" %>  
      <%= link_to 'remove', message, :class => "ui-icon ui-icon-trash", :title => "remove", :confirm => "Are you sure?", :method => :delete %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>
<%= will_paginate @messages %>
<% end %>
</div>
</div>
