<div class="left_side">
  <div class="tags">
    <h2>Books</h2>
    <ul>
      <% ApplicationHelper::BIBLE.each do |book| %>
        <li>
        <%= link_to_unless params[:book] == book, book, messages_path(:book => book) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="right_side">
  <div class="tags">
    <h2>Categories</h2>
    <ul>
      <% @categories.each do |cat| %>
        <li>
        <%= link_to_unless params[:cat].to_i == cat.id, cat.name, messages_path(:cat => cat.id) %> 
        <%= cat.messages.count %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="tags">
    <h2>Speakers</h2>
    <ul>
      <% @speakers.each do |speaker| %>
        <li>
        <%= link_to_unless params[:speaker].to_i == speaker.id, speaker.name, messages_path(:speaker => speaker.id) %>
        <%= speaker.messages.count %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

