<div class="stat">
  <%= "Total: " + @messages.count.to_s + " messages" %>
</div>
<div class="messages">
  <div class="full">
<% if @messages.present? %>
  <% @messages.each do |message| %>
    <div class="message">
      <div class="main">
        <h2><%= link_to message.title, message_path(message) %></h2>
        <div class="info">
          <%= "By " + message.speaker_name %> 
          <%= message.mdate.strftime("on %b %d, %Y") %> 
          <%= "in Category: " +  message.category_names unless message.category_names.blank? %>
        </div>
        <div class="summary">
          <%= message.summary %>
        </div>
        <div class="info">
          <%= message.verse_refs %>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  <% end %>
<%= paginate @messages %>
<% end %>
  </div>
</div>


