<div class="messages">
  <%= link_to "New Message", new_message_path %> 
  Views: 
  <%= link_to "Calendar", messages_path(:view => "calendar") %> |
  <%= link_to "List" %> |
  <%= link_to "Summary" %>
<% if params[:view] == "calendar" %>
  <div id="calendar">
  </div>
<% else %>
  <%= render 'side' %>
  <%= render 'summary' %>
<% end %>
