<div class="top_links">
  <ul class="ui-widget ui-helper-clearfix">
  <li class="ui-state-default ui-corner-all">
    <span class="ui-icon ui-icon-calendar"></span> 
    <%= link_to "Calendar", messages_path(:view => "calendar") %>
  </li>
  <li class="ui-state-default ui-corner-all">
    <span class="ui-icon ui-icon-grip-dotted-vertical"></span> 
    <%= link_to "List", messages_path(:view => "list") %>
  </li> 
  <li class="ui-state-default ui-corner-all">
    <span class="ui-icon ui-icon-grip-dotted-horizontal"></span> 
    <%= link_to "Summary", messages_path %>
  </li> 
  <li class="ui-state-default ui-corner-all">
    <span class="ui-icon ui-icon-plus"></span> 
    <%= link_to "Add Message", new_message_path %>
  </li> 
  <li class="ui-state-default ui-corner-all">
    <span class="ui-icon ui-icon-arrowthickstop-1-s"></span> 
    <%= link_to "Download CSV", messages_path(:format => :csv) %>
  </li>
  </ul>
</div>
<% if params[:view] == "calendar" %>
  <%= render 'calendar' %>
<% elsif params[:view] == "list" %>
  <%= render 'side' %>
  <%= render 'list' %>
<% else %>
  <%= render 'side' %>
  <%= render 'summary' %>
<% end %>
