<div class="top_links">
  Views: 
  <%= link_to "Calendar", messages_path(:view => "calendar") %> |
  <%= link_to "List", messages_path(:view => "list") %> |
  <%= link_to "Summary", messages_path %> - 
  <%= link_to "New Message", new_message_path %> |
  <%= link_to "Download CSV", messages_path(:format => :csv) %>
</div>
<% if params[:view] == "calendar" %>
  <%= render 'calendar' %>
<% elsif params[:view] == "list" %>
  <%= render 'side' %>
  <%= render 'list' %>
<% else %>
  <%= render 'side' %>
  <%= render 'summary' %>
<% end %>
