<div class="row">
  <div class="span8">
    <ul class="nav nav-pills">
      <li><%= link_to "Summary View", messages_path %></li>
      <li><%= link_to "Calendar View", messages_path(:view => "calendar") %></li>
      <li><%= link_to "List View", messages_path(:view => "list") %></li>
      <li><%= link_to "Add Message", new_message_path %></li>
      <li><%= link_to "Download CSV", messages_path(:format => :csv) %></li>
    </ul>
  </div>
  <div class="span4">
    <%= form_tag messages_path, method:'get', class: 'pull-right' do %>
      <%= text_field_tag :search, params[:search], class: 'span2', placeholder: 'Search Message' %>
    <% end %>
  </div>
</div> 
<div class="row">
<% if params[:view] == "calendar" %>
  <%= render 'calendar' %>
<% elsif params[:view] == "list" %>
  <%= render 'list' %>
  <%= render 'side' %>
<% else %>
  <%= render 'summary' %>
  <%= render 'side' %>
<% end %>
</div>
