<ul class="dropdown-menu">
  <li><%= link_to "Summary View", messages_path %></li>
  <li><%= link_to "Calendar View", messages_path(:view => "calendar") %></li>
  <li><%= link_to "List View", messages_path(:view => "list") %></li>
  <li><%= link_to "Add Message", new_message_path %></li>
  <li><%= link_to "Download CSV", messages_path(:format => :csv) %></li>
</ul>
<% if params[:view] == "calendar" %>
  <%= render 'calendar' %>
<% elsif params[:view] == "list" %>
  <%= render 'list' %>
  <%= render 'side' %>
<% else %>
  <%= render 'summary' %>
  <%= render 'side' %>
<% end %>
