<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @message.title %>
</p>

<p>
  <b>Date:</b>
  <%= @message.mdate %>
</p>

<p>
  <b>Speaker:</b>
  <%= @message.speaker_name %>
</p>

<p>
  <b>Summary:</b>
  <%= @message.summary %>
</p>

<p>
  <b>Verses:</b>
  <% @message.verses.each do |verse| %>
    <%= verse.ref %><br />
    <%= verse.esv_passage %><br />
  <% end %>
</p>

<p>
  <b>Category:</b>
  <%= @message.category_names %>
</p>

<p>
  <b>Url:</b>
  <%= @message.url %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
