<div id="message">
  <div class="info">
    <h1><%= @message.title %></h1>
    <div class="details">
      <%= link_to "link", @message.url, :target => "_blank", :class => "ui-icon ui-icon-extlink", :title => "more" if @message.url.present? %>
      <%= "By " +  @message.speaker_name unless @message.speaker_name.blank? %> 
      <%= @message.mdate.strftime("on %b %d, %Y") unless @message.mdate.blank? %> 
      <%= "in Category: " + @message.category_names unless @message.category_names.blank? %>  
      <%= " | " + @message.listened_on.strftime("listened on %b %d, %Y") if @message.listened_on.present? %> 
    </div>
  <% if @message.summary.present? %>
    <div class="summary">
      <strong>Summary: </strong><%= @message.summary %>
    </div>
  <% end %>
  <% if @message.note.present? %>
    <div class="note">
      <strong>Note: </strong><br /><%= @message.note.html_safe %>
    </div>
  <% end %>
  <% if @message.verses.present? %>
    <div class="verses">
    <% @message.verses.each do |verse| %>
    <div class="verse">
      <div class="ref"><%= verse.ref %></div> 
      <div class="ref_link"> 
        <%= link_to "like", like_verse_path(verse), :method => :put unless verse.favorite %>
        <br />
      </div>
      <div class="passage">
      <%= verse.esv_passage %>
      </div>
    </div>
    <% end %>
    </div>
  <% end %>
  </div>
  <%= link_to 'Edit', edit_message_path(@message) %> |
  <%= link_to 'Take Note', note_message_path(@message) %>
</div>

