<%= form_for(@verse) do |f| %>
  <%= render "shared/error_messages", :target => @verse %>
  <div class="field">
    <label for="verse_ref">
      <%= mark_required(@verse, :ref) %> Verse reference
    </label>
    <%= f.text_field :ref %>
  </div>
  <div class="field">
    <%= f.label :category %>
    <%= f.text_field :category_names %>
  </div>
  <div class="field">
    <%= f.label :favorite %>
    <%= f.check_box :favorite %> 
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
