<%= form_for(@verse) do |f| %>
  <%= render "shared/error_messages", :target => @verse %>
  <div class="field">
    <%= f.label :verse %><%= mark_required(@verse, :ref) %>
    <%= f.text_field :ref %>
  </div>
  <div class="field">
    <%= f.label :category %>
    <%= f.text_field :category_names %>
  </div>
  <div class="field">
    <%= f.check_box :favorite %> Favorite
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
