<%= render 'side' %>

<div class="top_links">
Views: 
<%= link_to_unless params[:view] == "all",  "All", verses_path(:view => "all") %> |
<%= link_to_if params[:view].present?, "Favorites", verses_path %> -
<%= link_to 'Add Verse', new_verse_path %>
</div>


<div class="stat">
  <%= "Total: " + pluralize(@verses.count, "verse") %>
  <% if params[:book].present? %>
    <span class="list_filter">
      <%= params[:book] %>
      <%= link_to "x", remove_filter("book") %>
    </span>
  <% end %>
  <% if params[:cat].present? %>
    <span class="list_filter">
      <%= Category.find(params[:cat]).name %>
      <%= link_to "x", remove_filter("cat") %>
    </span>
  <% end %>
</div>

<div class="verses">
  <% if @verses.present? %>
  <% @verses.each do |verse| %>
    <div class="verse">
      <div class="ref">
        <%= verse.ref %>
      </div>
      <div class="ref_link"> 
  <%= link_to 'edit', edit_verse_path(verse) %> | 
  <% if verse.favorite %>
    <%= link_to 'dislike', dislike_verse_path(verse), :method => :put %> 
  <% else %>
    <%= link_to 'like', like_verse_path(verse), :method => :put %> 
  <% end %> 
  | <%= link_to 'remove', verse, :confirm => "Are you sure?", :method => :delete %> 
</div>
<p>
<%= verse.esv_passage %>
</p>
  </div>
<% end %>
<%= paginate @verses %>
 <% end %>
</div>

