<%= render 'side' %>

<div class="top_links">
  <ul class="ui-widget ui-helper-clearfix">
  <li class="ui-state-default ui-corner-all">
    <span class="ui-icon ui-icon-calculator"></span> 
    <%= link_to "View All", verses_path(:view => "all") %>
  </li>
  <li class="ui-state-default ui-corner-all">
    <span class="ui-icon ui-icon-heart"></span> 
    <%= link_to "View Favorites", verses_path %> 
  </li>
  <li class="ui-state-default ui-corner-all">
    <span class="ui-icon ui-icon-plus"></span> 
    <%= link_to 'Add Verse', new_verse_path %>
  </li>
  </ul>
</div>

<div class="stat">
  <strong><%= params[:view] == "all" ? "All: " : "Favorites: " %></strong>
  <%= pluralize(@count, "verse") %>
  <% if params[:book].present? %>
    <span class="list_filter">
      <%= params[:book] %>
      <%= link_to "x", remove_filter("book") %>
    </span>
  <% end %>
  <% if params[:cat].present? %>
    <span class="list_filter">
      <%= Category.find(params[:cat]).name %>
      <%= link_to "x", remove_filter("cat") %>
    </span>
  <% end %>
</div>

<div class="verses">
  <% if @verses.present? %>
  <% @verses.each do |verse| %>
    <div class="verse">
      <div class="ref">
        <%= verse.ref %>
      </div>
      <div class="ref_link"> 
        <%= link_to 'edit', edit_verse_path(verse), :class => "ui-icon ui-icon-pencil", :title => "edit" %>  
  <% if verse.favorite %>
    <%= link_to 'dislike', dislike_verse_path(verse), :method => :put, :class =>"ui-icon ui-icon-pin-s", :title => "dislike" %> 
  <% else %>
    <%= link_to 'like', like_verse_path(verse), :method => :put, :class => "ui-icon ui-icon-heart", :title => "like" %> 
  <% end %> 
  <%= link_to 'remove', verse, :class => "ui-icon ui-icon-trash", :title => "remove", :confirm => "Are you sure?", :method => :delete %> 
  </div>
<p class="clear">
<%= verse.esv_passage %>
</p>
  </div>
<% end %>
<%= paginate @verses %>
 <% end %>
</div>

