<div class="top_links">
Views: 
<%= link_to "All", verses_path(:view => "all") %> |
<%= link_to "Favorites", verses_path %> -
<%= link_to 'New Verse', new_verse_path %>
</div>

<div class="stat">
  <%= "Total: " + @verses.count.to_s + " verses" %>
</div>

<div class="verses">
  <% if @verses.present? %>
  <% @verses.each do |verse| %>
    <div class="verse">
      <div class="ref">
        <%= verse.ref %>
      </div>
      <div class="ref_link"> 
  <%= link_to 'edit', edit_verse_path(verse) %> | 
  <% if verse.favorite %>
    <%= link_to 'dislike', dislike_verse_path(verse), :method => :put %> 
  <% else %>
    <%= link_to 'like', like_verse_path(verse), :method => :put %> 
  <% end %> 
  | <%= link_to 'remove', verse, :confirm => "Are you sure?", :method => :delete %>
</div>
  <%= verse.esv_passage %>
  </div>
<% end %>
</ul>
<%= paginate @verses %>
 <% end %>
</div>

<%= render 'side' %>
