<div class="span8">
<div class="stat">
  <strong><%= params[:view] == "all" ? "All: " : "Favorites: " %></strong>
  <%= pluralize(@count, "verse") %>
  <% if params[:book].present? %>
    <span class="label">
      <%= params[:book] %>
      <%= link_to "x", remove_filter("book") %>
    </span>
  <% end %>
  <% if params[:cat].present? %>
    <span class="label">
      <%= Category.find(params[:cat]).name %>
      <%= link_to "x", remove_filter("cat") %>
    </span>
  <% end %>
</div>

<div class="verses">
  <% if @verses.present? %>
  <% @verses.each do |verse| %>
    <div class="verse">
      <div class="ref">
        <%= verse.ref %>
      </div>
      <div class="ref_link"> 
        <%= link_to 'edit', edit_verse_path(verse), title: "edit" %>  
  <% if verse.favorite %>
    <%= link_to 'dislike', dislike_verse_path(verse), method: :put, title: "dislike" %> 
  <% else %>
    <%= link_to 'like', like_verse_path(verse), method: :put, title: "like" %> 
  <% end %> 
  <%= link_to 'remove', verse, title: "remove", confirm: "Are you sure?", method: :delete %> 
  </div>
<p class="clear">
<%= verse.esv_passage %>
</p>
  </div>
<% end %>
<%= paginate @verses %>
 <% end %>
</div>
</div>
<%= render 'side' %>

