<div data-role="header">
  <a data-rel="back" data-icon="back">Back</a>
  <h1>Add Verse</h1>
</div>

<div data-role="content">
  <%= form_for(@verse) do |f| %>
  <div data-role="fieldcontain">
  <%= f.label :ref, "Verse Reference", :class => "ui-hidden-accessible" %>
  <%= f.text_field :ref, "placeholder" => "John 3:16" %>
  <input type="hidden" id="verse_category_names" name="verse[category_names]", value="<%= Category.find(params[:cat]).name %>" />
  <%= f.submit "Save Verse" %>
    </div>
  <% end %>
</div>
