<div data-role="header">
  <%= link_to 'Back', "#", "data-icon" => "back" %> 
  <h1>Categories</h1>
  <%= link_to 'Next', "#", "data-icon" => "forward" %> 
</div>

<div data-role="content">
  <ul data-role="listview">
    <% @categories.each do |category| %>
    <li>
      <%= link_to category.name, category_path(category) %> 
    </li>
    <% end %> 
  </ul>
</div>

<div data-role="footer">
  <%= link_to 'Home', "#", "data-icon" => "home" %> 
  <%= link_to 'Remove', "#", "data-icon" => "delete" %> 
  <%= link_to 'Add', "#", "data-icon" => "plus" %> 
</div>
