<div class="categories">
  <%= render 'form' %>
<div class="stat">
  <%= "Total: " + pluralize(@count, "category") %>
</div>
<% if @categories.present? %>
  <table class="list">
    <tr>
      <th>Category</th>
      <th>Messages</th>
      <th>Verses</th>
      <th>Action</th>
    </tr>
<% @categories.each do |category| %>
  <tr>
    <td><%= best_in_place category, :name %></td>
    <td><%= link_to_unless category.messages.count == 0, category.messages.count, messages_path(:cat => category.id) %></td>
    <td><%= link_to_unless category.verses.count == 0, category.verses.count, verses_path(:cat => category.id) %></td>
    <td>
      <%= link_to 'remove', category, :class => "ui-icon ui-icon-trash", :title => "remove", :confirm => "Are you sure?", :method => :delete %> </td>
  </tr>
<% end %>
</table>
<%= will_paginate @categories%>
<% end %>
</div>

