<%= form_for(@speaker) do |f| %>
  <%= render "shared/error_messages", :target => @speaker %>

  <div class="field">
    <%= f.label :name %><%= mark_required(@speaker, :name) %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :church %>
    <%= f.text_field :church %>
  </div>
  <div class="field">
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
