<div class="stat">
  <%= "Total: " + pluralize(@speakers.count, "speaker") %> - 
  <%= link_to 'Add Speaker', new_speaker_path %>
</div>
<div class="speakers">
<% if @speakers.present? %>
  <table class="list">
    <tr>
      <th>Speaker</th>
      <th>Church</th>
      <th>Messages</th>
      <th>Blog</th>
      <th>Link</th>
    </tr>
<% @speakers.each do |speaker| %>
  <tr> 
    <td><%= best_in_place speaker, :name %></td>
    <td><%= best_in_place speaker, :church %></td>
    <td><%= link_to_unless speaker.messages.count == 0, speaker.messages.count, messages_path(:speaker => speaker.id) %></td>
    <td><%= best_in_place speaker, :link %></td>
    <td><%= link_to "link", speaker.link, :target => "_blank" if speaker.link.present? %></td>
  </tr>
<% end %>
</table>
<% end %>
</div>


