<h1>Speakers</h1>
<p id="notice"><%= notice %></p>

<%= render 'form' %>

<div id="speakers">
<% if @speakers.present? %>
<ul>
<% @speakers.each do |speaker| %>
  <li>
  <%= speaker.name%> <%= speaker.church %><%= link_to 'edit', edit_speaker_path(speaker) %>
  </li>
<% end %>
</ul>
<% else %>
<p>no speaker found.</p>
<% end %>
</div>


