<!DOCTYPE html>
<html>
<head>
  <title>Messages</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="top">
    <div class="title">Messages</div>
    <div class="user_nav">
      <% if current_user %>
        Welcome <%= current_user.name %>! 
        <%= link_to "Sign Out", signout_path %>
      <% else %>
        Sign in with <%= link_to "Twitter", "/auth/twitter" %> |
        <%= link_to "Facebook", "/auth/facebook" %>
      <% end %>
    </div>
  </div>

  <div id="nav_bar">
    <ul class="nav horizontal">
    <% if current_user %>
      <li><%= link_to 'Messages', messages_path %></li>
      <!-- <li><%= link_to 'Verses', verses_path %></li> -->
      <li><%= link_to 'Speakers', speakers_path %></li>
      <li><%= link_to 'Categories', categories_path %></li>
    <% end %>
      <li><%= link_to 'About' %></li>
      <li><%= link_to 'Feedback' %></li>
    </ul>
    <div>
<% if current_user %>
  <%= form_tag messages_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Messages", :name => nil %>
  <% end %>
<% end %>
    </div> 
  </div>

  <div id="main"> 
    <div class="content">
    <% flash.each do |name, msg| %>
      <div class="ui-widget">
        <div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
          <%= msg %><br />
        </div>
      </div>
    <% end %>
<%= yield %>
    </div>
  </div>

</body>
</html>
