<!DOCTYPE html>
<html>
<head>
  <title>Sermon Messages</title>
  <link href='http://fonts.googleapis.com/css?family=Devonshire' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="top">
    <div class="title">Sermon Messages</div>
    <div class="user_nav">
      <% if current_user %>
        <% if current_user.admin? %>
          [<%= User.count %>]
        <% end %>
        Welcome <%= current_user.name %>! 
        <%= link_to "Sign Out", signout_path %> |
        <% if mobile_device? %>
          <%= link_to "Full Site", :mobile => 0 %>
        <% else %>
          <%= link_to "Mobile Verses", root_path(:mobile => 1) %>
        <% end %>
      <% else %>
        Sign in with <%= link_to "Google", "/auth/google" %> | 
        <%= link_to "Facebook", "/auth/facebook" %>
      <% end %> 
    </div>
  </div>

  <div id="nav_bar">
    <ul class="nav horizontal">
    <% if current_user %>
      <li><%= link_to_unless current_page?(messages_path), 'Messages', messages_path %></li>
      <li><%= link_to_unless current_page?(verses_path), 'Verses', verses_path %></li>
      <li><%= link_to_unless current_page?(speakers_path), 'Speakers', speakers_path %></li>
      <li><%= link_to_unless current_page?(categories_path), 'Categories', categories_path %></li>
      <li><%= link_to_unless current_page?(feedback_path), 'Feedback', feedback_path %></li>
    <% end %>
      <li><%= link_to_unless current_page?(root_path), 'About', root_path %></li>
    </ul>
    <div>
<% if current_user %>
  <%= form_tag messages_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Messages", :name => nil %>
  <% end %>
<% end %>
    </div> 
  </div>

  <div id="main"> 
    <div class="content">
    <div class="notice">
      <% flash.each do |name, msg| %>
      <div class="ui-widget">
        <div class="ui-state-highlight ui-corner-all">
          <%= msg %><br />
        </div>
      </div>
    <% end %>
    </div>
<%= yield %>
    </div>
  </div>

  <div id="footer">
    <div class="inner">
      &copy;2011 Gracedimension 
    </div>
  </div>
</body>
</html>
