<!DOCTYPE html>
<html>
<head>
  <title>Messages</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!--
  <div id="user_nav">
    <%= link_to "Sign in with Google", "/auth/google" %>
  </div>
  -->
<%= yield %>

</body>
</html>
